@import "tailwindcss";
.ts-control {
  background-color: #1a2234 !important;
  color: #f8fafc !important;
  border-color: #243049 !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23a5a9b1' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
  background-repeat: no-repeat !important;
  background-position: right 6px center !important;
  background-size: 16px 12px !important;
}
#resizer {
  cursor: ew-resize;
  width: 11px;
}
#logo-title{
  background-image: url("/images/logo.png") !important;
  background-repeat: no-repeat !important;
  background-position: left 24% top 50% !important;
  background-size: 30px 30px !important;
}
